.app {
  /*Para o grid funcionar e necessário colocar em em um "pai"*/
  background: #f1f1f1;
  display: grid;
  grid-template-areas:
    "cabecalho"
    "conteudo"
    "rodape";
  /*E definado as areas do grid*/
  grid-template-columns: auto;
  grid-template-rows: 50px auto auto; /*cabecalho, conteudo e rodape*/
  font-family: Arial, Helvetica, sans-serif;
}

.cabecalho {
  align-items: center;
  display: flex;
  grid-area: cabecalho;
  padding: 0 2rem;
}

.conteudo {
  grid-area: conteudo;
  padding: 0 2rem;
}

.rodape {
  background: #fdfdfd;
  color: #333333;
  font-size: 0.8rem;
  grid-area: rodape;
  padding: 1rem;
  text-align: center;
}
